
@using Core.Entities.Dtos.Teacher;
@using Core.Extensions;



@model List<GetTeacherDto>;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Teachers Area Start-->
<div class="teachers-area section-margin teachers-area-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    @* TODO : Localization *@
                    <div class="section-title">
                        <h3>Our Teachers</h3>
                        <p>We are glad to introduce our professional staff</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="teacher-image">
                    @* TODO : Localization *@
                    <img src="~/img/teacher/17.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-image-text-wrapper">
                    <div class="testimonial-text-slider">
                        @if (Model != null)
                        {
                            foreach (var teacherOne in Model)
                            {
                                <div class="sin-testiText">
                                    <h2>@(teacherOne.FirstName)&nbsp;@(teacherOne.LastName)</h2>
                                    <span class="language">@(teacherOne.Profession.NameKey.Translate())</span>
                                    <div class="teacher-info-container">
                                        <p><i class="fa fa-graduation-cap"></i>Degree: @(string.Format("{0}.ProfessionDegree",teacherOne.Profession.ProfessionDegree.ToString()).Translate())</p>
                                        @* TODO : Localization *@
                                        <p><i class="fa fa-star"></i>Experience: 2 Years in Preschool Education (From)</p>
                                        <p>
                                            <i class="fa fa-edit"></i>My Courses:
                                            @for (int i = 0; i < teacherOne.TeacherCourses.Count; i++)
                                            {
                                                <b>@(teacherOne.TeacherCourses[i].Course.TitleKey.Translate())</b>
                                                if (i + 1 < teacherOne.TeacherCourses.Count)
                                                {
                                                    <span>&sbquo;</span>
                                                }
                                            }
                                        </p>
                                    </div>
                                    <p>@(teacherOne.BiographyKey.Translate())</p>
                                    <div class="teacher-links">
                                        @foreach (var socialMediaOne in teacherOne.TeacherSocialMedias)
                                        {
                                            <a href="@(socialMediaOne.RedirectUrl)"><i class="@(socialMediaOne.SocialMedia.IconSource)"></i></a>

                                        }
                                    </div>
                                    @* TODO : Localization *@
                                    <a href="#" class="button-default button-yellow">View Profile</a>
                                </div>
                            }
                        }
                    </div>
                    <div class="testimonial-image-slider text-center">
                        @if (Model != null)
                        {
                            foreach (var teacherOne in Model)
                            {
                                <div class="sin-testiImage">
                                    <div class="teacher-image-carousel">
                                        @* TODO : Localization *@
                                        <img src="@(teacherOne.IconSource)" alt="The Image Was Not Found" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->