@using Core.Utilities.Helpers
@using Core.Entities.Dtos.Teacher;
@using Core.Extensions;
@using Core.Resources.Enums;



@model List<GetTeacherDto>

@{
    var urlTeachersCaptionAll = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.MediaServiceURL_ContainerKeyword.ToString(), ChildKeySettings.Media_Url_TeachersContainerHome_FromManual.ToString());
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Teachers Area Start-->
<div id="teachersAreaContainer" class="teachers-area section-margin teachers-area-two">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    @* TODO : Localization *@
                    <div class="section-title">
                        <h3>@("PublicTitleOurTeacher.Localization".Translate())</h3>
                        <p>@("PublicSubtitleOurTeacher.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="teacher-image">
                    @* TODO : Localization *@
                    <img src="@(urlTeachersCaptionAll)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="testimonial-image-text-wrapper">
                    <div class="testimonial-text-slider">
                        @if (Model != null)
                        {
                            foreach (var teacherOne in Model)
                            {
                                <div class="sin-testiText">
                                    <h2>@(teacherOne.FirstName)&nbsp;@(teacherOne.LastName)</h2>
                                    <span class="language">@(teacherOne.ProfessionNameKey.Translate())</span>
                                    <div class="teacher-info-container">
                                        @if (teacherOne.TeacherCourses.Count > 0)
                                        {
                                            <p>
                                                <i class="fa fa-edit"></i>&nbsp;@("MyCoursesVisualLocalization.Translate".Translate()):&nbsp;
                                                @for (int i = 0; i < teacherOne.TeacherCourses.Count; i++)
                                                {
                                                    @(teacherOne.TeacherCourses[i].Course.TitleKey.Translate())
                                                    if (i + 1 < teacherOne.TeacherCourses.Count)
                                                    {
                                                        <i>&sbquo;</i>
                                                    }
                                                }
                                            </p>
                                        }
                                    </div>
                                    <p>@(teacherOne.BiographyKey.Translate())</p>
                                    <div class="teacher-links">
                                        @foreach (var socialMediaOne in teacherOne.TeacherSocialMedias)
                                        {
                                            <a href="@(socialMediaOne.RedirectUrl)">@(Html.Raw(socialMediaOne.SocialMedia.IconHtml))</a>
                                        }
                                    </div>
                                    <a href="/Global/Teacher/GetCurrent/@(teacherOne.Id)" class="button-default button-yellow">@("GeneralViewProfileButton.TextLocalization".Translate())</a>
                                </div>
                            }
                        }
                    </div>
                    <div class="testimonial-image-slider text-center">
                        @if (Model != null)
                        {
                            foreach (var teacherOne in Model)
                            {
                                <div class="sin-testiImage">
                                    <div class="teacher-image-carousel">
                                        @* TODO : Localization *@
                                        <img src="@(teacherOne.CaptionSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Teachers Area-->