
@using Core.Entities.Dtos.Phrase;
@using Core.Extensions;



@model List<GetPhraseDto>;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Phrases Carousel Area Start-->
<div class="testimonial-carousel-area section-padding section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        @* TODO : Localization *@
                        <h3>@("PublicTitlePhrase.Localization".Translate())</h3>
                        <p>@("PublicSubtitlePhrase.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial-carousel carousel-style-one border-white owl-carousel">
            @if (Model != null)
            {
                foreach (var phraseOne in Model)
                {
                    <div class="single-testimonial-carousel">
                        <div class="testimonial-carousel-text">
                            <h4>@(phraseOne.TitleKey.Translate())</h4>
                            <p>“ @(phraseOne.ContentKey.Translate()) ”</p>
                        </div>
                        <div class="testimonial-information">
                            <div class="testimonial-image">
                                @* TODO : Localization *@
                                <img src="@(phraseOne.CaptionSource)" alt="The Photo Was Not Found">
                            </div>
                            <div class="testimonial-name">
                                <h4>@(phraseOne.OwnerName)&nbsp;@(phraseOne.OwnerSurname)</h4>
                                <span>@(phraseOne.ProfessionKey.Translate())</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--End of Phrases Carousel Area-->