@using Core.Entities.Dtos.OurService;
@using Core.Extensions;



@model List<GetCourseServiceDto>;

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--Small Service Area Start-->
<div class="small-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        @* TODO : Localization *@
                        <h3>@("PublicTitleOurService.Localization".Translate())</h3>
                        <p>@("PublicSubtitleOurService.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (i % 3 == 0)
                        {
                            <div class="single-small-service">
                                <div class="small-service-icon">
                                    @(Html.Raw(Model[i].IconHtml))
                                </div>
                                <div class="small-services-text">
                                    <h4>@(Model[i].TitleKey.Translate())</h4>
                                    <p>@(Model[i].DescriptionKey.Translate())</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-lg-4 col-md-4">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (i % 3 == 1)
                        {
                            <div class="single-small-service">
                                <div class="small-service-icon">
                                    @(Html.Raw(Model[i].IconHtml))
                                </div>
                                <div class="small-services-text">
                                    <h4>@(Model[i].TitleKey.Translate())</h4>
                                    <p>@(Model[i].DescriptionKey.Translate())</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
            <div class="col-lg-4 col-md-4">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        if (i % 3 == 2)
                        {
                            <div class="single-small-service">
                                <div class="small-service-icon">
                                    @(Html.Raw(Model[i].IconHtml))
                                </div>
                                <div class="small-services-text">
                                    <h4>@(Model[i].TitleKey.Translate())</h4>
                                    <p>@(Model[i].DescriptionKey.Translate())</p>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>
<!--End of Small Service Area-->