@using Core.Entities.Dtos.Course;
@using Core.Extensions;



@model List<GetCourseDto>;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Class Area Start-->
<div class="class-area section-padding class-yellow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        @* TODO : Localization *@
                        <h3>@("PublicTitleCourse.Localization".Translate())</h3>
                        <p>@("PublicSubtitleCourse.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="class-carousel carousel-style-one owl-carousel">
            @if (Model != null)
            {
                foreach (var courseOne in Model)
                {
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="#">
                                @* TODO : Localization *@
                                <img src="@(courseOne.CaptionImageSource)" alt="The Photo Was Not Found">
                                <span class="class-date">@(courseOne.PublishDate)</span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="#">@(courseOne.TitleKey.Translate())</a></h4>
                                <p>@(courseOne.DescriptionKey.Translate())</p>
                            </div>
                            <div class="class-schedule">
                                @* TODO : Localization *@
                                <span>Muddet: @(courseOne.MinTotalMonths)&minus;@(courseOne.MaxTotalMonths) Ay</span>
                                <span>Kurs Qiymeti: @(courseOne.PricePerMonth) AZN</span>
                                <span class="arrow"><a href="#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--End of Class Area-->