@using Core.Extensions
@using Core.Resources.Enums

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!--MessageLetter Area Start-->
<div class="newsletter-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <input type="text" id="layoutInformaionMailPartial_Subject" name="subject" placeholder="@("Subject.LocalizationRecourseForm".Translate())">
                            <input type="text" id="layoutInformaionMailPartial_Name" name="name" placeholder="@("GeneralYourName.LocalizationAll".Translate())">
                            <input type="email" id="layoutInformaionMailPartial_Email" name="email" placeholder="@("GeneralYourEmail.LocalizationAll".Translate())">
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6">
                            <textarea name="message" id="layoutInformaionMailPartial_Message" placeholder="@("GeneralMessageText.LocalizationAll".Translate())"></textarea>
                            <button id="layoutInformaionMailPartial_SendBtn" data-mailtype="@((byte)MailType.Information_Email)" class="button-default">@("GeneralSendButton.LocalizationAll".Translate())</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of MessageLetter Area-->