@using Core.Entities.Dtos.Blog;
@using Core.Extensions;



@model List<GetBlogDto>;


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Blog Area Start-->
<div id="blogsAreaContainer" class="blog-area blog-two boder-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper title-yellow">
                    <div class="section-title">
                        @* TODO : Localization *@
                        <h3>@("PublicTitleBlogs.Localization".Translate())</h3>
                        <p>@("PublicSubtitleBlogs.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-carousel carousel-style-one owl-carousel">
            @if (Model != null)
            {
                foreach (var blogOne in Model)
                {
                    <div class="single-blog-item overlay-hover">
                        <div class="single-blog-image">
                            <div class="overlay-effect">
                                <a href="/Global/Blog/GetCurrent/@(blogOne.Id)">
                                    @* TODO : Localization *@
                                    <img style="height: 260px !important;" src="@(blogOne.CaptionSource)" alt="The Image Was Not Found">
                                    <span class="class-date">@(blogOne.Created_at.ToString("dd-MM-yyyy"))&nbsp;<i class="fa fa-calendar"></i></span>
                                </a>
                            </div>
                        </div>
                        <div class="single-blog-text">
                            <h4><a href="blog-details.html">@(blogOne.TitleKey.Translate())</a></h4>
                            <div class="blog-date">
                                <span><i class="fa fa-calendar"></i>@(blogOne.Created_at.ToString("dd-MM-yyyy"))</span>
                            </div>
                            <p>@(blogOne.PreviewDescriptionKey.Translate())</p>
                            @* TODO : Localization *@
                            <a href="/Global/Blog/GetCurrent/@(blogOne.Id)">@("GeneralReadMore.ButtonText".Translate())</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--End of Blog Area-->