@using Core.Entities.Dtos.Media;
@using Core.Entities.Dtos.SharingTypeMedia;
@using Core.Extensions;

@{
    List<string> tagList = null;
    Dictionary<string, string> dict = new Dictionary<string, string>();

    if (Model != null)
    {
        tagList = new List<string>();

        Model.ForEach(x =>
        {
            foreach (var item in x.SharingTypeMedias)
            {
                var currentOne = item.SharingType.NameKey;
                if (!tagList.Contains(currentOne))
                {
                    tagList.Add(currentOne);
                    dict.Add(currentOne, item.SharingType.AbriveatureClass);
                }

            }
        });
    };
}


@model List<GetMediaDto>;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Gallery Area Start-->
<div class="gallery-area section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        @* TODO : Localization *@
                        <h3>@("PublicTitleGallery.Localization".Translate())</h3>
                        <p>@("PublicSubtitleGallery.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="filter-menu">
                    <ul>
                        @* TODO : Localization *@
                        <li class="filter" data-filter="all">@("GeneralAllTextTranslate.Localization".Translate())</li>
                        @if (tagList != null)
                        {
                            foreach (var item in tagList)
                            {
                                <li class="filter" data-filter=".@(dict[item])">@(item.Translate())</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="gallery-row">
            <div class="row filter-items">
                @if (Model != null)
                {
                    foreach (var mediaOne in Model)
                    {
                        string shareTypeClass = " ";
                        string shareTypeTranslation = "";

                        for (int i = 0; i < mediaOne.SharingTypeMedias.Count; i++)
                        {
                            shareTypeClass += mediaOne.SharingTypeMedias[i].SharingType.AbriveatureClass;
                            shareTypeClass += " ";

                            shareTypeTranslation += mediaOne.SharingTypeMedias[i].SharingType.NameKey.Translate();
                            if (i + 1 < mediaOne.SharingTypeMedias.Count)
                            {
                                shareTypeTranslation += ", ";
                            }
                        }

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12 mb-18 mix single-items @shareTypeClass overlay-hover">
                            <div class="overlay-effect">
                                <a class="stop-media-redirect-link" href="@(mediaOne.Source)"><img src="@(mediaOne.Source)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon venobox" href="@(mediaOne.Source)"><i class="fa fa-image"></i></a>
                                    <span class="gallery-text">@shareTypeTranslation</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="view-gallery text-center">
                    @* TODO : Localization *@
                    <h4>@("GalleryFirstAdsText.BeforeViewLocalization".Translate()) <span>@("GallerySecondBoldAdsText.BeforeViewLocalization".Translate())</span></h4>
                    <a href="/Global/Gallery/Touch" class="button-default button-yellow">@("GeneralViewNow.ButtonText".Translate())</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Gallery Area-->