@using Core.Entities.Dtos.Slider
@using Core.Extensions

@model CreateManagementSliderDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Create</h1>

<h4>CreateManagementSliderDto</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleKey" class="control-label"><strong>@("GeneralTitleKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleKey" type="text" class="form-control" />
                                <span asp-validation-for="TitleKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="TitleTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="DescriptionKey" class="control-label"><strong>@("GeneralDescriptionKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescriptionKey" type="text" class="form-control" />
                                <span asp-validation-for="DescriptionKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescriptionTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescriptionTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="DescriptionTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="DescriptionTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescriptionTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="DescriptionTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescriptionTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescriptionTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="DescriptionTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="DescriptionTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescriptionTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="DescriptionTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label asp-for="SliderMediaSourceFile" class="control-label"><strong>@("GeneralLocalize.SliderMediaSourceImage".Translate())</strong></label>
                        <input type="file" class="form-control mt-1 mb-1" asp-for="SliderMediaSourceFile" />
                        <span asp-validation-for="SliderMediaSourceFile" class="text-danger"></span>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
</div>