@using Core.Entities.Dtos.Slider
@using Core.Extensions

@model CreateManagementSliderDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}


<h1>@("ToCreate.TranslateLocalization".Translate())</h1>
<hr />

<h4>@("SliderCreateView.HeaderLocalization".Translate())</h4>
<hr />

<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        @using (Html.BeginForm("Create", "Slider", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row  mb-1 mt-2">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row mb-1 mt-2">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MainTitleKey, "GeneralMainTitleKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.MainTitleKey, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MainTitleKey, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.MainTitleTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.MainTitleTranslateAZE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MainTitleTranslateAZE, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.MainTitleTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.MainTitleTranslateRUS, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MainTitleTranslateRUS, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.MainTitleTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.MainTitleTranslateENG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MainTitleTranslateENG, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group mb-1">
                            @Html.LabelFor(x => x.MainTitleTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.MainTitleTranslateTUR, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.MainTitleTranslateTUR, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row mb-1 mt-2">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ButtonTextKey, "GeneralButtonTextKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.ButtonTextKey, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ButtonTextKey, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ButtonTextTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.ButtonTextTranslateAZE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ButtonTextTranslateAZE, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.ButtonTextTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.ButtonTextTranslateRUS, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ButtonTextTranslateRUS, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.ButtonTextTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.ButtonTextTranslateENG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ButtonTextTranslateENG, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group mb-1">
                            @Html.LabelFor(x => x.ButtonTextTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.ButtonTextTranslateTUR, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ButtonTextTranslateTUR, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row mb-1 mt-2">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SubTitleKey, "GeneralSubTitleKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.SubTitleKey, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubTitleKey, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.SubTitleTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.SubTitleTranslateAZE, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubTitleTranslateAZE, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(x => x.SubTitleTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.SubTitleTranslateRUS, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubTitleTranslateRUS, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.SubTitleTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.SubTitleTranslateENG, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubTitleTranslateENG, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                        <div class="form-group mb-1">
                            @Html.LabelFor(x => x.SubTitleTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                            @Html.TextBoxFor(x => x.SubTitleTranslateTUR, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.SubTitleTranslateTUR, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.SliderMediaSourceFile, "GeneralLocalize.SliderMediaSourceFile".Translate(), new { @class = "control-label h6" })
                    @Html.TextBoxFor(x => x.SliderMediaSourceFile, new { @class = "form-control mt-1 mb-1", @type = "file" })
                    @Html.ValidationMessageFor(x => x.SliderMediaSourceFile, null, new { @class = "text-danger" })
                </div>
                <hr />
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.ButtonRoute, "TButtonRoute.VisualLocalization".Translate(), new { @class = "control-label h6" })
                    @Html.TextBoxFor(x => x.ButtonRoute, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ButtonRoute, null, new { @class = "text-danger" })
                </div>
                <hr />
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                @*TODO : Localize All Create Button*@
                <div class="form-group mt-2 mb-2">
                    <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                    <a class="ml-2 btn btn-secondary text-light" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
                </div>
            </div>
        </div>

        }
    </div>
</div>
<div id="responseMessageContainer">
    @if (Model.ResponseMessages != null && Model.ResponseMessages.Count > 0)
    {
        foreach (var response in Model.ResponseMessages)
        {
            <div class="responseMessage mt-1 mb-1">
                <div class="alert alert-@response.AlertColor alert-dismissible fade show" role="alert">
                    <ul>
                        @foreach (var message in response.AlertMessages)
                        {
                            <li>@(message)</li>
                        }
                    </ul>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
    }
</div>



@section ScriptComponent{
    <style>
        .responseMessage {
            position: relative;
            right: 20px !important;
            bottom: 20px !important;
            opacity: 0.9 !important;
        }
    </style>
    <script src="~/js/CustomComponent.js"></script>
    <script>
        setTimeout(function (e) {
            $("#responseMessageContainer").fadeOut(500);
        }, 3000)
    </script>
}