@using Core.Extensions
@using TouchApp.WebMVC.Areas.Global.Models.ViewModel
@using Core.Utilities.Helpers
@using Core.Resources.Enums

@model BlogViewModel

@{
    string EnrollChildBackImageUrl = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.MediaServiceURL_ContainerKeyword.ToString(), ChildKeySettings.Media_URL_Enroll_YourChildBackground_Caption.ToString());
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!--Blog Details Area Start-->
<div class="blog-details-area section-padding blog-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="blog-post-wrapper">
                    @if (Model != null && Model.CurrentBlog != null)
                    {
                        <div class="blog-post-details">
                            <h1>@(Model.CurrentBlog.TitleKey.Translate())</h1>
                            <span><i class="fa fa-calendar"></i>@(Model.CurrentBlog.Created_at.ToString("dd.MM.yyyy"))/&nbsp;@(Model.CurrentBlog.Created_by)</span>
                        </div>
                        <div class="blog-post-details-img">
                            <img style="width: 100% !important;" src="@(Model.CurrentBlog.CaptionSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                        </div>
                        <div class="blog-post-details-text">
                            @Html.Raw(Model.CurrentBlog.ContentHtmlRawKey.Translate())
                        </div>
                    }
                    @if (Model != null && Model.RelatedBlogs != null && Model.RelatedBlogs.Count > 0)
                    {
                        <div class="single-title">
                            <h3>@("RelatedBlogsHeader.TranslateLocalization".Translate())</h3>
                        </div>
                        <div class="row">

                            <div class="class-carousel carousel-style-one owl-carousel">
                                @foreach (var relatedBlogOne in Model.RelatedBlogs)
                                {
                                    <div class="single-blog-item overlay-hover">
                                        <div class="single-blog-image">
                                            <div class="overlay-effect">
                                                <a href="#">
                                                    <img src="@(relatedBlogOne.CaptionSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                                                    <span class="class-date">@(relatedBlogOne.Created_at.ToString("dd.MM"))&nbsp;<span>@(relatedBlogOne.Modified_at.Year)</span></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="single-blog-text">
                                            <h4><a href="blog-details.html">@(relatedBlogOne.TitleKey.Translate())</a></h4>
                                            <div class="blog-date">
                                                <span><i class="fa fa-calendar"></i>@(relatedBlogOne.Created_at.ToString("dd.MM.yyyy"))</span>
                                            </div>
                                            <p>@(relatedBlogOne.PreviewDescriptionKey.Translate())</p>
                                            @Html.ActionLink("GeneralReadMore.ButtonText".Translate(), "", "", new { area = "Global" })
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    }
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>@("BlogCategoryListHeader.TranslateLocalization".Translate())</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="sidebar-categories">
                            <li>&nbsp;<a href="/Global/Blog/FilterByBlogCategoryId/999">@("GeneralAllTextTranslate.Localization".Translate())</a></li>
                            @if (Model != null && Model.BlogCategories != null && Model.BlogCategories.Count > 0)
                            {
                                foreach (var blogCatOne in Model.BlogCategories)
                                {
                                    <li>&nbsp;<a href="/Global/Blog/FilterByBlogCategoryId/@(blogCatOne.Id)">@(blogCatOne.NameKey.Translate())</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                @if (Model != null && Model.RecentCourses != null && Model.RecentCourses.Count > 0)
                {
                    <div class="single-widget-item">
                        <div class="single-title">
                            <h3>@("RecentCoursesListHeader.TranslateLocalization".Translate())</h3>
                        </div>
                        <div class="single-widget-container">

                            @foreach (var courseOne in Model.RecentCourses)
                            {
                                <div class="recent-post-item">
                                    <div class="recent-post-image">
                                        <a href="#"><img src="@(courseOne.CaptionImageSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                    </div>
                                    <div class="recent-post-text">
                                        <h4><a href="#">@(courseOne.TitleKey.Translate())</a></h4>
                                        <span><i class="fa fa-calendar"></i>@(courseOne.PublishDate.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                }
                <div class="single-widget-item hidden-sm">
                    <div class="single-widget-container">
                        <a href="#">
                            <img src="@(EnrollChildBackImageUrl)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                            <span>@("GeneralEnrollYourChildCourse.ButtonText".Translate())</span>
                        </a>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>@("BlogTagsListHeader.Localization".Translate())</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="tag-list">
                            @if (Model != null && Model.Tags != null && Model.Tags.Count > 0)
                            {
                                foreach (var tagOne in Model.Tags)
                                {
                                    <li><a href="/Global/Blog/FilterByTagName/@(tagOne.Id)">@(tagOne.Name)</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Blog Details Area-->