@using Core.Extensions
@using TouchApp.WebMVC.Areas.Global.Models.ViewModel
@using Core.Utilities.Helpers
@using Core.Resources.Enums

@model AllBlogsViewModel

@{
    string EnrollChildBackImageUrl = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.MediaServiceURL_ContainerKeyword.ToString(), ChildKeySettings.Media_Url_Enroll_SideImage.ToString());
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="class-list-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                @if (Model != null && Model.AllBlogs != null && Model.AllBlogs.Count > 0)
                {
                    foreach (var blogOne in Model.AllBlogs)
                    {
                        <div class="class-list-item">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6 col-md-6">
                                    <a href="#"><img src="@(blogOne.CaptionSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                </div>
                                <div class="col-xl-7 col-lg-6 col-md-6">
                                    <div class="class-list-text">
                                        <h3><a href="#">@(blogOne.TitleKey.Translate())</a></h3>
                                        <div class="class-information">
                                            <span><i class="fa fa-calendar"></i>&nbsp;@(blogOne.Created_at.ToString("dd.MM.yyyy"))</span>
                                            @*<span><i class="fas fa-user-edit"></i>&nbsp;@(blogOne.Modified_by)</span>*@
                                        </div>
                                        <p>@(blogOne.PreviewDescriptionKey.Translate())</p>
                                        <a href="/Global/Blog/GetCurrent/@(blogOne.Id)" class="button-default">@("GeneralReadMore.ButtonText".Translate())&nbsp;<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="single-widget-item res-mrg-top-xs">
                    <div class="single-title">
                        <h3>@("BlogCategoryListHeader.TranslateLocalization".Translate())</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="sidebar-categories class">
                            <li>&nbsp;<a href="/Global/Blog/FilterByBlogCategoryId/999">@("GeneralAllTextTranslate.Localization".Translate())</a></li>
                            @if (Model != null && Model.BlogCategories != null && Model.BlogCategories.Count > 0)
                            {
                                foreach (var blogCatOne in Model.BlogCategories)
                                {
                                    <li>&nbsp;<a href="/Global/Blog/FilterByBlogCategoryId/@(blogCatOne.Id)">@(blogCatOne.NameKey.Translate())</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                @if (Model != null && Model.RecentCourses != null && Model.RecentCourses.Count > 0)
                {
                    <div class="single-widget-item">
                        <div class="single-title">
                            <h3>@("RecentCoursesListHeader.TranslateLocalization".Translate())</h3>
                        </div>
                        <div class="single-widget-container">

                            @foreach (var courseOne in Model.RecentCourses)
                            {
                                <div class="recent-post-item">
                                    <div class="recent-post-image">
                                        <a href="#"><img src="@(courseOne.CaptionImageSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                    </div>
                                    <div class="recent-post-text">
                                        <h4><a href="#">@(courseOne.TitleKey.Translate())</a></h4>
                                        <span><i class="fa fa-calendar"></i>@(courseOne.PublishDate.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
                <div class="single-widget-item hidden-sm">
                    <div class="single-widget-container">
                        <a href="#">
                            <img src="@(EnrollChildBackImageUrl)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                            <span>@("GeneralEnrollButtonText.Localization".Translate())</span>
                        </a>
                    </div>
                </div>
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>@("BlogTagsListHeader.Localization".Translate())</h3>
                    </div>
                    <div class="single-widget-container">
                        <ul class="tag-list">
                            @if (Model != null && Model.Tags != null && Model.Tags.Count > 0)
                            {
                                foreach (var tagOne in Model.Tags)
                                {
                                    <li><a href="/Global/Blog/FilterByTagName/@(tagOne.Id)">@(tagOne.Name)</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>