@using Core.Entities.Dtos.Phrase
@using Core.Extensions

@model CreateManagementPhraseDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Create</h1>

<h4>CreateManagementPhraseDto</h4>
<hr />

<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="OwnerName" class="control-label"><strong>@("PhraseOwnerName.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerName" type="text" class="form-control">
                                <span asp-validation-for="OwnerName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="OwnerSurname" class="control-label"><strong>@("PhraseOwnerSurname.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerSurname" type="text" class="form-control">
                                <span asp-validation-for="OwnerSurname" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ProfessionKey" class="control-label"><strong>@("GeneralProfessionKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ProfessionKey" type="text" class="form-control" />
                                <span asp-validation-for="ProfessionKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProfessionTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ProfessionTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="ProfessionTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ProfessionTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ProfessionTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="ProfessionTranslateRUS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ProfessionTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ProfessionTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="ProfessionTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="ProfessionTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ProfessionTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="ProfessionTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContentKey" class="control-label"><strong>@("GeneralContentKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentKey" type="text" class="form-control" />
                                <span asp-validation-for="ContentKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContentTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="ContentTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContentTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="ContentTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContentTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="ContentTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="ContentTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="ContentTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleKey" class="control-label"><strong>@("GeneralTitleKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleKey" type="text" class="form-control" />
                                <span asp-validation-for="TitleKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="TitleTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label asp-for="CaptionSourceFile" class="control-label"><strong>@("GeneralLocalize.CaptionSourceImage".Translate())</strong></label>
                        <input type="file" class="form-control mt-1 mb-1" asp-for="CaptionSourceFile" />
                        <span asp-validation-for="CaptionSourceFile" class="text-danger"></span>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
</div>