@using Core.Entities.Dtos.Phrase
@using Core.Extensions

@model CreateManagementPhraseDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>@("ToCreate.TranslateLocalization".Translate())</h1>
<hr />

<h4>@("PhraseCreateView.HeaderLocalization".Translate())</h4>
<hr />

<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        @using (Html.BeginForm("Create", "Phrase", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.OwnerName, "OwnerNameGeneralPhrase.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.OwnerName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.OwnerName, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.OwnerSurname, "OwnerSurnameGeneralPhrase.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.OwnerSurname, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.OwnerSurname, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProfessionKey, "GeneralProfessionKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ProfessionKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProfessionKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProfessionTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ProfessionTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProfessionTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProfessionTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ProfessionTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProfessionTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProfessionTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ProfessionTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProfessionTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.ProfessionTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ProfessionTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ProfessionTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentKey, "GeneralContentKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.ContentTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleKey, "GeneralTitleKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.TitleTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        @Html.LabelFor(x => x.CaptionSourceFile, "GeneralLocalize.CaptionSourceFile".Translate(), new { @class = "control-label h6" })
                        @Html.TextBoxFor(x => x.CaptionSourceFile, new { @class = "form-control mt-1 mb-1", @type = "file" })
                        @Html.ValidationMessageFor(x => x.CaptionSourceFile, null, new { @class = "text-danger" })
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                        <a class="ml-2 btn btn-secondary text-light" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
<div id="responseMessageContainer">
    @if (Model.ResponseMessages != null && Model.ResponseMessages.Count > 0)
    {
        foreach (var message in Model.ResponseMessages)
        {
            <div class="responseMessage">
                <div class="alert alert-@message.AlertColor alert-dismissible fade show" role="alert">
                    <strong>@message.AlertMessage</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
    }
</div>



@section ScriptComponent{
    <style>
        .responseMessage {
            position: relative;
            right: 20px !important;
            bottom: 20px !important;
            opacity: 0.9 !important;
        }
    </style>
    <script src="~/js/CustomComponent.js"></script>
    <script>
        setTimeout(function (e) {
            $("#responseMessageContainer").fadeOut(500);
        }, 3000)
    </script>
}