@using Core.Entities.Dtos.Blog
@using Core.Extensions
@using Core.Resources.Enums

@model CreateBlogForManagementDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Create</h1>

<h4>CreateBlogForManagementDto</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        <label asp-for="ScreenType" class="control-label"><strong>@("GeneralScreenType.VisualLocalization".Translate())</strong></label>
                        <select asp-for="ScreenType" class="form-control">
                            <option value="#">@("SelectListDefault.Localize".Translate())</option>
                            @foreach (var typeOne in Enum.GetValues<PostScreenType>().Cast<byte>().ToList())
                            {
                                <option value="@(typeOne)">@(string.Format("{0}ScreenType.Localize", ((PostScreenType)typeOne).ToString()).Translate())</option>
                            }
                        </select>
                        <span asp-validation-for="ScreenType" class="text-danger"></span>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="OwnerProfessionKey" class="control-label"><strong>@("GeneralOwnerProfessionKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerProfessionKey" type="text" class="form-control" />
                                <span asp-validation-for="OwnerProfessionKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OwnerProfessionTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerProfessionTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="OwnerProfessionTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="OwnerProfessionTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerProfessionTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="OwnerProfessionTranslateRUS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OwnerProfessionTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerProfessionTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="OwnerProfessionTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="OwnerProfessionTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OwnerProfessionTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="OwnerProfessionTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleKey" class="control-label"><strong>@("GeneralTitleKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleKey" type="text" class="form-control" />
                                <span asp-validation-for="TitleKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="TitleTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TitleTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="TitleTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="TitleTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="TitleTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="SubtitleKey" class="control-label"><strong>@("GeneralSubtitleKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="SubtitleKey" type="text" class="form-control" />
                                <span asp-validation-for="SubtitleKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SubtitleAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="SubtitleAZE" type="text" class="form-control" />
                                <span asp-validation-for="SubtitleAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="SubtitleENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="SubtitleENG" type="text" class="form-control" />
                                <span asp-validation-for="SubtitleENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SubtitleTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="SubtitleTUR" type="text" class="form-control" />
                                <span asp-validation-for="SubtitleTUR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="SubtitleRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="SubtitleRUS" type="text" class="form-control" />
                                <span asp-validation-for="SubtitleRUS" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="PreviewDescriptionKey" class="control-label"><strong>@("PreviewDescriptionKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="PreviewDescriptionKey" type="text" class="form-control" />
                                <span asp-validation-for="PreviewDescriptionKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PreviewDescriptionTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="PreviewDescriptionTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="PreviewDescriptionTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="PreviewDescriptionTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="PreviewDescriptionTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="PreviewDescriptionTranslateRUS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PreviewDescriptionTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="PreviewDescriptionTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="PreviewDescriptionTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="PreviewDescriptionTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="PreviewDescriptionTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="PreviewDescriptionTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContentHtmlRawKey" class="control-label"><strong>@("ContentHtmlRawKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentHtmlRawKey" type="text" class="form-control" />
                                <span asp-validation-for="ContentHtmlRawKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContentHtmlRawTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentHtmlRawTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="ContentHtmlRawTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContentHtmlRawTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentHtmlRawTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="ContentHtmlRawTranslateRUS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContentHtmlRawTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentHtmlRawTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="ContentHtmlRawTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                <label asp-for="ContentHtmlRawTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="ContentHtmlRawTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="ContentHtmlRawTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="OverviewHtmlRawKey" class="control-label"><strong>@("OverviewHtmlRawKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OverviewHtmlRawKey" type="text" class="form-control" />
                                <span asp-validation-for="OverviewHtmlRawKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OverviewHtmlRawTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OverviewHtmlRawTranslateTUR" type="text" class="form-control" />
                                <span asp-validation-for="OverviewHtmlRawTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="OverviewHtmlRawTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OverviewHtmlRawTranslateENG" type="text" class="form-control" />
                                <span asp-validation-for="OverviewHtmlRawTranslateENG" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="OverviewHtmlRawTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OverviewHtmlRawTranslateRUS" type="text" class="form-control" />
                                <span asp-validation-for="OverviewHtmlRawTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-2">
                                <label asp-for="OverviewHtmlRawTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="OverviewHtmlRawTranslateAZE" type="text" class="form-control" />
                                <span asp-validation-for="OverviewHtmlRawTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
            <div class="form-group mt-2 mb-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

