@model IEnumerable<Core.Entities.Dtos.Blog.GetBlogForManagementDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaptionSource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerProfessionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerProfessionTranslateAZE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerProfessionTranslateRUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerProfessionTranslateENG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerProfessionTranslateTUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleTranslateAZE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleTranslateENG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleTranslateRUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleTranslateTUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleAZE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleENG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleTUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtitleRUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewDescriptionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewDescriptionTranslateAZE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewDescriptionTranslateRUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewDescriptionTranslateENG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviewDescriptionTranslateTUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentHtmlRawKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentHtmlRawTranslateAZE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentHtmlRawTranslateRUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentHtmlRawTranslateENG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentHtmlRawTranslateTUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverviewHtmlRawKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScreenType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaptionSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerProfessionKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerProfessionTranslateAZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerProfessionTranslateRUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerProfessionTranslateENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerProfessionTranslateTUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleTranslateAZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleTranslateENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleTranslateRUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleTranslateTUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleAZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleTUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtitleRUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewDescriptionKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewDescriptionTranslateAZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewDescriptionTranslateRUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewDescriptionTranslateENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviewDescriptionTranslateTUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentHtmlRawKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentHtmlRawTranslateAZE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentHtmlRawTranslateRUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentHtmlRawTranslateENG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentHtmlRawTranslateTUR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverviewHtmlRawKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScreenType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
