@using Core.Entities.Dtos.Course
@using Core.Extensions

@model List<GetCourseDto>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@





<!--Class Area Start-->
<div class="class-area section-padding-bottom">
    @if (Model != null && Model.Count > 0)
    {
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-title">
                    <h3>@("RecentCoursesListHeader.TranslateLocalization".Translate())</h3>
                </div>
            </div>
        </div>
        <div class="class-carousel carousel-style-one owl-carousel">
            @foreach (var courseOne in Model)
            {
                <div class="single-class">
                    <div class="single-class-image">
                        <a href="/Global/StudyPackage/GetCurrent/@(courseOne.Id)">
                            <img src="@(courseOne.CaptionImageSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                            <span class="class-date">@(courseOne.PublishDate.ToString("dd.MM.yyyy"))&nbsp;<i class="fa fa-calendar"></i></span>
                        </a>
                    </div>
                    <div class="single-class-text">
                        <div class="class-des">
                            <h4><a href="/Global/StudyPackage/GetCurrent/@(courseOne.Id)">@(courseOne.TitleKey.Translate())</a></h4>
                            <p>@(courseOne.PreviewDescKey.Translate())</p>
                        </div>
                        <div class="class-schedule">
                            @* TODO : Localization *@
                            <span>@("GeneralCoursePeriodDefiner.TranslateLocalization".Translate()):&nbsp;@(courseOne.TotalMonths)&nbsp;@("MonthsDefinerLocalization.TranslatePerLang".Translate())</span>
                            <span>@("PricePerMonthPayment.TranslateLocalization"):&nbsp;@(courseOne.PricePerMonth)&nbsp;@("PriceAZNDefinerLocalization.TranslatePerLang".Translate())</span>
                            <span class="arrow"><a href="/Global/StudyPackage/GetCurrent/@(courseOne.Id)"><i class="fa fa-angle-right"></i></a></span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    }
</div>
<!--End of Class Area-->