@using Core.Entities.Dtos.BlogCategory
@using Core.Extensions

@model CreateBlogCategoryManagementDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Create</h1>

<h4>CreateBlogCategoryManagementDto</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="NameKey" class="control-label"><strong>@("GeneralModelNameKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="NameKey" class="form-control" />
                                <span asp-validation-for="NameKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NameTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="NameTranslateENG" class="form-control" />
                                <span asp-validation-for="NameTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="NameTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="NameTranslateAZE" class="form-control" />
                                <span asp-validation-for="NameTranslateAZE" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NameTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="NameTranslateTUR" class="form-control" />
                                <span asp-validation-for="NameTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="NameTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="NameTranslateRUS" class="form-control" />
                                <span asp-validation-for="NameTranslateRUS" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="DescKey" class="control-label"><strong>@("GeneralDescriptionKey.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescKey" class="form-control" />
                                <span asp-validation-for="DescKey" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescTranslateAZE" class="control-label"><strong>@("TranslateToAzerbaijani.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescTranslateAZE" class="form-control" />
                                <span asp-validation-for="DescTranslateAZE" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="DescTranslateRUS" class="control-label"><strong>@("TranslateToRussian.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescTranslateRUS" class="form-control" />
                                <span asp-validation-for="DescTranslateRUS" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DescTranslateTUR" class="control-label"><strong>@("TranslateToTurkish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescTranslateTUR" class="form-control" />
                                <span asp-validation-for="DescTranslateTUR" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="DescTranslateENG" class="control-label"><strong>@("TranslateToEnglish.VisualLocalization".Translate())</strong></label>
                                <input asp-for="DescTranslateENG" class="form-control" />
                                <span asp-validation-for="DescTranslateENG" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ParentCategoryId" class="control-label"><strong>@("GeneralLocalize.ParentCategory".Translate())</strong></label>
                                <select asp-for="ParentCategoryId" class="form-select mt-1 mb-2">
                                    <option>@("SelectOneOpinion.LocalizeGeneral".Translate())</option>
                                    @if (Model != null && Model.BlogCategories != null)
                                    {
                                        foreach (var blogCatOne in Model.BlogCategories)
                                        {
                                            <option value="@(blogCatOne.Value)">@(blogCatOne.Text.Translate())</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="IconFile" class="control-label"><strong>@("GeneralLocalize.MediaIconCaption".Translate())</strong></label>
                                <input type="file" class="form-control mt-1 mb-1" asp-for="IconFile"/>
                                <span asp-validation-for="IconFile" class="text-danger"></span>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@*TODO : Localize All Back Button*@
<div>
    <a class="btn btn-secondary" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
</div>