@using Core.Extensions
@using TouchApp.WebMVC.Areas.Global.Models.ViewModel
@using Core.Utilities.Helpers
@using Core.Resources.Enums

@model AllTeachersViewModel

@{
    string EnrollChildBackImageUrl = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.MediaServiceURL_ContainerKeyword.ToString(), ChildKeySettings.Media_URL_Enroll_YourChildBackground_Caption.ToString());
}

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<div class="class-list-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                @if (Model != null && Model.AllTeachers != null && Model.AllTeachers.Count > 0)
                {
                    foreach (var teacherOne in Model.AllTeachers)
                    {
                        <div class="class-list-item">
                            <div class="row">
                                <div class="col-xl-5 col-lg-6 col-md-6">
                                    <a href="#"><img src="@(teacherOne.ProfilePhotoPath)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                </div>
                                <div class="col-xl-7 col-lg-6 col-md-6">
                                    <div class="class-list-text">
                                        <h3><a href="#">@($"{teacherOne.FirstName} {teacherOne.LastName}")</a></h3>
                                        <div class="class-information">
                                            <span><i class="far fa-envelope"></i>&nbsp;@(teacherOne.Email)</span>
                                            <span><i class="fas fa-mobile-alt"></i>&nbsp;@($"{teacherOne.PhoneNumberPrefix} {teacherOne.PhoneNumber}")</span>
                                            <span><i class="fas fa-user-tie"></i>&nbsp;@(teacherOne.ProfessionNameKey.Translate())</span>
                                            @if (string.IsNullOrEmpty(teacherOne.CompanyNameKey))
                                            {
                                                <span data-toggle="tooltip" data-placement="top" title="@(teacherOne.JobDescriptionKey.Translate())"><i class="fas fa-briefcase"></i>&nbsp;@(teacherOne.CompanyNameKey.Translate())</span>
                                            }
                                        </div>
                                        <p>@(teacherOne.ShortBiographyKey.Translate())</p>
                                        <a href="#" class="button-default">@("GeneralReadMore.ButtonText".Translate())&nbsp;<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="single-widget-item">
                    <div class="single-title">
                        <h3>@("RecentCoursesListHeader.TranslateLocalization".Translate())</h3>
                    </div>
                    <div class="single-widget-container">
                        @if (Model != null && Model.RecentCourses != null && Model.RecentCourses.Count > 0)
                        {
                            foreach (var courseOne in Model.RecentCourses)
                            {
                                <div class="recent-post-item">
                                    <div class="recent-post-image">
                                        <a href="#"><img src="@(courseOne.CaptionImageSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                    </div>
                                    <div class="recent-post-text">
                                        <h4><a href="#">@(courseOne.TitleKey.Translate())</a></h4>
                                        <span><i class="fa fa-calendar"></i>@(courseOne.PublishDate.ToString("dd.MM.yyyy"))</span>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="single-widget-item hidden-sm">
                    <div class="single-widget-container">
                        <a href="#">
                            <img src="@(EnrollChildBackImageUrl)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                            <span>@("EnrollYourChildButtonText.TranslateLocalization".Translate())</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>