@using Core.Entities.Dtos.Teacher
@using Core.Extensions
@using Core.Resources.Enums

@model CreateManagementTeacherDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><img src="@(ChildKeySettings.Media_URL_TableIcon_SocialMedia.ToString().GetStaticMediaURL())" alt="@("MediaWasNotFound.Localization".Translate())" style="width:25px; height: 25px; border-radius: 10%;" /></th>
            <th scope="col">@("SocialMediaColHeader.NameLocalization".Translate())</th>
            <th style="display:none;" scope="col">@("SocialMediaId.Localization".Translate())</th>
            <th scope="col">@("SocialMedia.CustomUrlLocalization".Translate())</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.SocialMedias != null && Model.SocialMedias.Count > 0)
        {
            for (int i = 0; i < Model.SocialMedias.Count; i++)
            {
                <tr>
                    <th scope="row"><img src="@Model.SocialMedias[i].IconSource" alt="@("MediaWasNotFound.Localization".Translate())" style="width:25px; height: 25px;" /></th>
                    <td>@Model.SocialMedias[i].NameSocial</td>
                    <td style="display:none;">@Html.TextBoxFor(x => x.TeacherSocialMedias[i].SocialMediaId)</td>
                    <td>@Html.TextBoxFor(x => x.TeacherSocialMedias[i].RedirectUrl, new { @class = "form-control", placeholder = "SetUrl.GeneralLocalization".Translate() })</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <th scope="row"></th>
                <td>
                    <h5 class="text-info">@("NoSocialMediaForEnrol.InfoLocalization".Translate())</h5>
                </td>
                <td></td>
                <td></td>
            </tr>
        }
    </tbody>
</table>