@using Core.Extensions
@using TouchApp.WebMVC.Areas.Global.Models.ViewModel
@using Microsoft.AspNetCore.Html

@model AboutViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<!--Teachers Column Carousel Start-->
<div class="teachers-column-carousel-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>@("PublicTitleOurTeacher.Localization".Translate())</h3>
                        <p>@("PublicSubtitleOurTeacher.Localization".Translate())</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="teachers-column-carousel carousel-style-one owl-carousel">
            @if (Model != null && Model.Teachers != null && Model.Teachers.Count > 0)
            {
                @foreach (var teacherOne in Model.Teachers)
                {
                    <div class="single-teachers-column text-center">
                        <div class="teachers-image-column">
                            <a href="/Global/Teacher/GetCurrent/@(teacherOne.Id)">
                                <img src="@(teacherOne.CaptionSource)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())">
                                <span class="image-hover">
                                    <span><i class="fa fa-edit"></i>@("GeneralViewProfileButton.TextLocalization".Translate())</span>
                                </span>
                            </a>
                        </div>
                        <div class="teacher-column-carousel-text">
                            <h4>@($"{teacherOne.LastName} {teacherOne.FirstName}")</h4>
                            <span>@($"{teacherOne.ProfessionNameKey.Translate()}, {teacherOne.CompanyNameKey.Translate()}")</span>
                            <p>@(teacherOne.BioShortKey.Translate())</p>
                            <div class="social-links">
                                @foreach (var teacherSocialMediaOne in teacherOne.TeacherSocialMedias)
                                {
                                    <a href="@(teacherSocialMediaOne.RedirectUrl)">@(Html.Raw(teacherSocialMediaOne.SocialMedia.IconHtml))</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!--End of Teachers Column Carousel-->