@using Core.Extensions

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Activity Area Start-->
<div class="activity-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h4>@("AboutUsCompetitionTitle.LocalizationTranslate".Translate())</h4>
                    <p>@("AboutUsCompetitionDescription.LocalizationTranslate".Translate())</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fas fa-hands-helping"></i>
                    </div>
                    <h4>@("AboutUsHelpTitle.LocalizationTranslate".Translate())</h4>
                    <p>@("AboutUsHelpDescription.LocalizationTranslate".Translate())</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 activity">
                <div class="single-activity mrg-res-top-md">
                    <div class="single-activity-icon">
                        <i class="fa fa-futbol-o"></i>
                    </div>
                    <h4>@("AboutUsActivityTitle.LocalizationTranslate".Translate())</h4>
                    <p>@("AboutUsActivityDescription.LocalizationTranslate".Translate())</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 activity">
                <div class="single-activity mrg-res-top-md">
                    <div class="single-activity-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>@("AboutUsEducationTitle.LocalizationTranslate".Translate())</h4>
                    <p>@("AboutUsEducationDescription.LocalizationTranslate".Translate())</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Activity Area-->