@using Core.Entities.Dtos.Course
@using Core.Extensions

@model CreateManagementCourseDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>@("ToCreate.TranslateLocalization".Translate())</h1>
<hr />

<h4>@("CourseCreateView.HeaderLocalization".Translate())</h4>
<hr />
>

<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        @using (Html.BeginForm("Create", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleKey, "GeneralTitleKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.TitleTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.TitleTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TitleTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.TitleTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DescriptionKey, "GeneralDescriptionKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.DescriptionKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DescriptionKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DescriptionTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.DescriptionTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DescriptionTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.DescriptionTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.DescriptionTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DescriptionTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.DescriptionTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.DescriptionTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DescriptionTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.DescriptionTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.DescriptionTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.DescriptionTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ScheduleHtmlRawKey, "ScheduleHtmlRawKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ScheduleHtmlRawKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ScheduleHtmlRawKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ScheduleHtmlRawTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ScheduleHtmlRawTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ScheduleHtmlRawTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ScheduleHtmlRawTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ScheduleHtmlRawTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ScheduleHtmlRawTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ScheduleHtmlRawTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ScheduleHtmlRawTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ScheduleHtmlRawTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.ScheduleHtmlRawTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ScheduleHtmlRawTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ScheduleHtmlRawTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentHtmlRawKey, "ContentHtmlRawKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentHtmlRawKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentHtmlRawKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentHtmlRawTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentHtmlRawTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentHtmlRawTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentHtmlRawTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentHtmlRawTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentHtmlRawTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.ContentHtmlRawTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentHtmlRawTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentHtmlRawTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.ContentHtmlRawTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.ContentHtmlRawTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentHtmlRawTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PreviewDescriptionKey, "PreviewDescriptionKey.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PreviewDescriptionKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PreviewDescriptionKey, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.PreviewDescriptionTranslateAZE, "TranslateToAzerbaijani.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PreviewDescriptionTranslateAZE, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PreviewDescriptionTranslateAZE, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PreviewDescriptionTranslateRUS, "TranslateToRussian.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PreviewDescriptionTranslateRUS, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PreviewDescriptionTranslateRUS, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(x => x.PreviewDescriptionTranslateENG, "TranslateToEnglish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PreviewDescriptionTranslateENG, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PreviewDescriptionTranslateENG, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-4 col-lg-4">
                            <div class="form-group mb-1">
                                @Html.LabelFor(x => x.PreviewDescriptionTranslateTUR, "TranslateToTurkish.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PreviewDescriptionTranslateTUR, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PreviewDescriptionTranslateTUR, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TotalMonths, "GeneralTotalMonths.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TotalMonths, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(x => x.TotalMonths, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TotalHours, "GeneralTotalHours.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.TotalHours, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(x => x.TotalHours, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.PricePerMonth, "GeneralPricePerMonths.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.PricePerMonth, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(x => x.PricePerMonth, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.CaptionImageFile, "GeneralLocalize.CaptionFile".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.CaptionImageFile, new { @class = "form-control mt-1 mb-1", @type = "file" })
                                @Html.ValidationMessageFor(x => x.CaptionImageFile, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.TeacherId, "TeacherForCourseSelection.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.DropDownListFor(x => x.TeacherId, Model.CurrentListTeachers, "SelectListDefault.Localize".Translate(), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(x => x.TeacherId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.ProfessionCourseCategoryId, "ProfessionCourseCategorySelection.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.DropDownListFor(x => x.ProfessionCourseCategoryId, Model.CurrentListProfessionCourseCategoryIds, "SelectListDefault.Localize".Translate(), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(x => x.ProfessionCourseCategoryId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group">
                                @Html.LabelFor(x => x.LanguageId, "LanguageOfCourseSelection.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.DropDownListFor(x => x.LanguageId, Model.CurrentListLanguageIds, "SelectListDefault.Localize".Translate(), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(x => x.LanguageId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                        <a class="ml-2 btn btn-secondary text-light" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="responseMessageContainer">
    @if (Model.ResponseMessages != null && Model.ResponseMessages.Count > 0)
    {
        foreach (var message in Model.ResponseMessages)
        {
            <div class="responseMessage">
                <div class="alert alert-@message.AlertColor alert-dismissible fade show" role="alert">
                    <strong>@message.AlertMessage</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
    }
</div>



@section ScriptComponent{
    <style>
        .responseMessage {
            position: relative;
            right: 20px !important;
            bottom: 20px !important;
            opacity: 0.9 !important;
        }
    </style>
    <script src="~/js/CustomComponent.js"></script>
    <script>
        setTimeout(function (e) {
            $("#responseMessageContainer").fadeOut(500);
        }, 3000)
    </script>
}