@using Core.Extensions
@using Core.Utilities.Helpers
@using Core.Resources.Enums


@{
    string emailInfo = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.GlobalAccessibility_ContainerKeyword.ToString(), ChildKeySettings.InfoMail_GlobalAccess.ToString());

    string contactPhone = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.GlobalAccessibility_ContainerKeyword.ToString(), ChildKeySettings.MobileContactPhone_GlobalAccess.ToString());

    string locationCourseKey = ConfigHelper.GetSettingsDataStatic<string>(ParentKeySettings.GlobalAccessibility_ContainerKeyword.ToString(), ChildKeySettings.Location_LotfiZadeh_Caspian.ToString());
}


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<!--Contact Area Start-->
<div class="contact-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-area-container">
                    <div class="single-title">
                        <h3>@("GeneralContactInfoHeader.TranslateLocalization".Translate())</h3>
                    </div>
                    <p>@("GeneralContactInfoTextDescription.TranslateLocalization".Translate())</p>
                    <div class="contact-address-container">
                        <div class="contact-address-info">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="contact-text">
                                <h4>@("GeneralAddress.LocalizationAll".Translate())</h4>
                                <span>@(locationCourseKey.Translate())</span>
                            </div>
                        </div>
                        <div class="contact-address-info">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="contact-text">
                                <h4>@("GeneralPhone.LocalizationAll".Translate())</h4>
                                <span>@(contactPhone)</span>
                            </div>
                        </div>
                        <div class="contact-address-info">
                            <div class="contact-icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <div class="contact-text">
                                <h4>@("GeneralEmailHeader.LocalizationAll".Translate())</h4>
                                <span>@(emailInfo)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <div class="single-title">
                        <h3>@("GeneralSendMessageHeaderPart.Localization".Translate())</h3>
                    </div>
                    <div class="contact-form-container">
                        <div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" id="contactInformaionMailPartial_Name" name="name" placeholder="@("GeneralYourName.LocalizationAll".Translate())">
                                </div>
                                <div class="col-md-6">
                                    <input type="email" id="contactInformaionMailPartial_Email" name="email" placeholder="@("GeneralYourEmail.LocalizationAll".Translate())">
                                </div>
                            </div>
                            <input type="text" id="contactInformaionMailPartial_Subject" name="subject" placeholder="@("Subject.LocalizationRecourseForm".Translate())">
                            <textarea name="message" id="contactInformaionMailPartial_Message" class="yourmessage" placeholder="@("GeneralMessageText.LocalizationAll".Translate())"></textarea>
                            <button type="button" id="contactInformaionMailPartial_SendBtn" data-mailtype="@((byte)MailType.Information_Email)" class="button-default button-yellow submit"><i class="fa fa-send"></i>@("GeneralSendButton.LocalizationAll".Translate())</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Contact Area-->