
@{
    ViewData["Title"] = "TouchIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

@Html.Partial("PartialViews/_PartialSliderSection");
@Html.Partial("PartialViews/_PartialServiceArea");
@Html.Partial("PartialViews/_PartialSkillInformationSection");
@Html.Partial("PartialViews/_PartialStudyBagSection");
@Html.Partial("PartialViews/_PartialRegisterAreaSection");
@Html.Partial("PartialViews/_PartialTeachersAreaSection");
@Html.Partial("PartialViews/_PartialGallerySection");
@Html.Partial("PartialViews/_PartialPhrasesCarouselSection");
@Html.Partial("PartialViews/_PartialBlogsSection");
@Html.Partial("PartialViews/_PartialMessageLetterSection");