@using Core.Entities.Dtos.SocialMedia
@using Core.Extensions

@model CreateManagementSocialMediaDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdminPanelBootstrap.cshtml";
}

<h1>Create</h1>

<h4>CreateManagementSocialMediaDto</h4>
<hr />
<div class="row">
    <div class="col-md-12 col-12 col-sm-12">
        @using (Html.BeginForm("Create", "SocialMedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row  mb-1 mt-2">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row mb-1 mt-2">
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.NameSocial, "NameSocial.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.NameSocial, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.NameSocial, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.Uri, "UriSocial.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.Uri, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Uri, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="form-group">
                                @Html.LabelFor(x => x.IconHtml, "IconHtmlSocial.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.IconHtml, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.IconHtml, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.IconSourceFile, "GeneralLocalize.IconSourceFile".Translate(), new { @class = "control-label h6" })
                                @Html.TextBoxFor(x => x.IconSourceFile, new { @class = "form-control mt-1 mb-1", @type = "file" })
                                @Html.ValidationMessageFor(x => x.IconSourceFile, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.SocialMediaType, "SocialMediaType.VisualLocalization".Translate(), new { @class = "control-label h6" })
                                @Html.DropDownListFor(x => x.SocialMediaType, Model.SocialMediaTypeList, "SelectListGender.SelectDefaultLocalize".Translate(), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(x => x.SocialMediaType, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    @*TODO : Localize All Create Button*@
                    <div class="form-group mt-2 mb-2">
                        <input type="submit" value="@("CreateNew.LocalizationGeneral".Translate())" class="btn btn-primary" />
                        <a class="ml-2 btn btn-secondary text-light" asp-action="Index">@("BackwardToList.LocalizationGeneral".Translate())</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<div id="responseMessageContainer">
    @if (Model.ResponseMessages != null && Model.ResponseMessages.Count > 0)
    {
        foreach (var message in Model.ResponseMessages)
        {
            <div class="responseMessage">
                <div class="alert alert-@message.AlertColor alert-dismissible fade show" role="alert">
                    <strong>@message.AlertMessage</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        }
    }
</div>


@section ScriptComponent{
    <style>
        .responseMessage {
            position: relative;
            right: 20px !important;
            bottom: 20px !important;
            opacity: 0.9 !important;
        }
    </style>
    <script src="~/js/CustomComponent.js"></script>
    <script>
        setTimeout(function (e) {
            $("#responseMessageContainer").fadeOut(500);
        }, 3000)
    </script>
}