@using Core.Extensions
@using TouchApp.WebMVC.Areas.Global.Models.ViewModel

@model GalleryViewModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!--Gallery Area Start-->
<div class="gallery-area section-padding gallery-full-width">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-menu">
                    <ul>
                        <li class="filter" data-filter="all">@("GeneralAllTextTranslate.Localization".Translate())</li>
                        @if (Model != null && Model.SharingTypes != null && Model.SharingTypes.Count > 0)
                        {
                            foreach (var item in Model.SharingTypes)
                            {

                    <li class="filter" data-filter=".@(item.AbriveatureClass)">@(item.NameKey.Translate())</li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter-items">
            <div class="row">
                @if (Model != null && Model.Medias != null && Model.Medias.Count > 0)
                {
                    foreach (var mediaOne in Model.Medias)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12 mix @(mediaOne.NavigationClassesConcatSharingType) overlay-hover">
                            <div class="overlay-effect">
                                <a href="#"><img src="@(mediaOne.Source)" alt="@("Inform.ImageWasNotFoundTranslate".Translate())"></a>
                                <div class="gallery-hover-effect">
                                    <a class="gallery-icon venobox" href="@(mediaOne.Source)"><i class="fa fa-image"></i></a>
                                    <span class="gallery-text">@(mediaOne.NavigationClassesConcatSharingType)</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @*<div class="col-md-12">
                <div class="button text-center">
                    <a class="button-default button-yellow" href="#"><i class="fa fa-refresh"></i>@("GeneralLoadMore.ButtonTextLocalization".Translate())</a>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!--End of Gallery Area-->